{{define "title"}}Enter New Weight{{end}}

{{define "main"}}
<form action='/weight/create' method='POST'>
    <div>
        <label>Weight:</label>
                {{with .Form.FieldErrors.weight}}
                    <label class='error'>{{.}}</label>
                {{end}}

        <input type='text' name='weight' value='{{.Form.Weight}}'>
    </div>
    <div>
        {{with .Form.FieldErrors.notes}}
            <label class='error'>{{.}}</label>
        {{end}}
        <textarea name='notes'>{{.Form.Notes}}</textarea>
    </div>
    <div>
        <input type='submit' value='Enter'>
    </div>
</form>
{{end}}
