{{define "title"}}Weight {{.Weight.Date}}{{end}}

{{define "main"}}
    {{with .Weight}}
    <div class='snippet'>
        <div class='metadata'>
            <strong>{{.Weight}}</strong>
            <span>#{{.ID}}</span>
        </div>
        <pre><code>{{.Notes}}</code></pre>
        <div class='metadata'>
            <time>Created: {{humanDate .Date}}</time>
        </div>
    </div>
    {{end}}
{{end}}